@using MasterChef.Domain.Models
@model Receita

@{
    ViewData["Title"] = "Create";
}

<h4>Editar Receita</h4>
<div class="mr-2 ml-2">

<form asp-action="edit" asp-controller="receita" method="post">
    <div asp-validation-summary="All"></div>

    <input type="hidden" asp-for="Id" />

   <div class="form-group">
        <label asp-for="Titulo" class="control-label"></label>
        <input  asp-for="Titulo" class="form-control"/>
        <span asp-validation-for="Titulo" class="text-danger"></span>

    </div>

     <div class="form-group">
        <label asp-for="Descricao" class="control-label"></label>
        <input  asp-for="Descricao" class="form-control"/>
        <span asp-validation-for="Descricao" class="text-danger"></span>

    </div>

     <div class="form-group">
        <label asp-for="CategoriaId" class="control-label"></label>
        <select asp-for="CategoriaId" class="form-control" asp-items="ViewBag.ListCategories"></select>
        <span asp-validation-for="Ingredientes" class="text-danger"></span>

    </div>

      <div class="form-group">
        <label asp-for="Ingredientes" class="control-label"></label>
        <input  asp-for="Ingredientes" class="form-control"/>
        <span asp-validation-for="Ingredientes" class="text-danger"></span>

    </div>

    <div class="form-group">
        <label asp-for="ModoPreparo" class="control-label"></label>
        <input  asp-for="ModoPreparo" class="form-control"/>
        <span asp-validation-for="ModoPreparo" class="text-danger"></span>

    </div>

     <div class="form-group">
        <label asp-for="Imagem" class="control-label"></label>
        <input  asp-for="Imagem" class="form-control"/>
        <span asp-validation-for="Imagem" class="text-danger"></span>

    </div>


    <button type="submit" class="mt-4">Salvar</button>

</form>
</div>





@*
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
*@